* {
  font-family: Helvetica;
  text-align: center;
  }
body {
  background-image: url(../images/the-flatiron-building.jpg);
  background-size: 1200px;
  }
.white {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
    }
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  margin-top: 0px;
  }
h2 {
  font-size: 32px;
  font-weight: bold;
    }
h3 {
  font-size: 23px;
  font-weight: bold;
    }
.ourProcess p {
  font-size: 14px;
  }
.ourProcess {
  background-color: white;
  padding: 8px;
  }
.bottom {
  background-color: white;
  padding: 8px;
  }
footer {
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: gray
  }
footer span a {
  font-size: 18px;
  color: white;
  }
nav p a {
  font-size: 18px;
  color: white;
}
