* {
  font-family: Helvetica;
  text-align: center;
  }
body {
  background-image: url(../images/the-flatiron-building.jpg);
      }
.white {
  color: white;
  }
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  }
h2 {
  font-size: 32px;
  font-weight: bold;
    }
h3 {
  font-size: 23px;
  font-weight: bold;
    }
.ourProcess p {
  font-size: 14px;
  }
.ourProcess {
  background-color: white;
}
.bottom {
  background-color: white;
}
.footer {
  text-align: left;
}
nav p a {
  font-size: 18px;
  color: white;
}
