* {
  font-family: Helvetica;
  text-align: center;
  background-color: lightgray;
  background-image: url("the-flatiron-building.jpg");
  }
.white {
  color: white;
  }
.ourPrice {
  background-color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  }
h2 {
  font-size: 32px;
  font-weight: bold;
    }
h3 {
  font-size: 23px;
  font-weight: bold;
    }
p {
  font-size: 14px;
  }
